{% extends "template.html" %}

{% block content %}
	<style>
		body
	      {
			border: 2px solid black;
	   		padding: 2500;
	   		margin: 0;
	    	background: url("/static/img/bg_image.jpg");
	    	background-repeat: no-repeat;
	    	background-size: 100%;	      }
	</style>
	<div class="text-center">
        <h1>** Welcome to the Movie Recommender **</h1>
    </div>

    <section class="jumbotron text-center">
    	<div class="container">
      		<p class="lead text-muted">The idea is that you rate several pre-defined genres based on your taste and then receive a recommendation list containing the movies  that you'll most probably like!</p>
      		<p class="lead text-muted"><strong>Press Ratings when you are ready!</strong></p>
      		<p>
        		<a href="{{ url_for('rating') }}" class="btn btn-primary my-2">Ratings</a>
      		</p>
    	</div>
  	</section>
  	<footer class="footer mt-auto py-3">
  		<div class="text-center">
    		<span class="text-muted">Machine Learning Application</span>
  		</div>
	</footer>
{% endblock %}

